.fancypantsaccordionholder{
	max-width:750px;
	margin: 20px auto;
}

.fancypantsaccordionholder ul li{
	height:25px;
	border-top: 1.5px dashed #008ca9;
    border-bottom: 1.5px dashed #008ca9;
	overflow:hidden;
	background-color: #f0fdff;
	margin: 3px auto;
}

.fancypantsaccordionholder ul li:first-child{
	border-top:1.5px dashed #008ca9;
}

.fancypantsaccordionholder ul li > a{
	font-family: 'Oregano', Verdana, Arial;
	text-decoration:none;
	color:#008ca9;
	-webkit-text-shadow: 0.5px 0.5px 0.5px #4c4c4e;
    -moz-text-shadow: 0.5px 0.5px 0.5px #4c4c4e;
    text-shadow: 0.5px 0.5px 0.5px #4c4c4e;
	font-size:25px;
	display:block;
	position:relative;
	line-height:40px;
	outline:none;
	font-weight: normal;
	padding-left: 20px;
}

.fancypantsaccordionholder ul li > a:hover{
	color:#105068;
	padding-left: 20px;
}

.fancypantsaccordionholder ul li > a p{
	
}

.fancypantsaccordionholder ul li > a span{
   	background: transparent url('../img/down.png') no-repeat center center;
    text-indent:-9000px;
    width: 26px;
    display:block;
    height: 14px;
    position: absolute;
    top: 50%;
   	right: 0;
    margin-top: -7px;
    opacity:0;
    -webkit-transition:  all 0.2s ease-in-out;
    -moz-transition:  all 0.2s ease-in-out;
    -o-transition:  all 0.2s ease-in-out;
    -ms-transition:  all 0.2s ease-in-out;
    transition:  all 0.2s ease-in-out;
}

.fancypantsaccordionholder ul li > a:hover span{
	opacity:1;
	right:10px;
}

.fancypantsaccordionholder ul li.acc-open > a{
	color:#105068;
	padding-left: 20px;
}

.fancypantsaccordionholder ul li.acc-open > a span{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	right:10px;
	opacity:1;
}

.acc-content{
	padding:20px;
	max-width:100%;
}

.acc-content img, .acc-content > *{
	max-width:100%;
	word-wrap:break-word;
}

.acc-content p{
	font-size:13px;
	line-height:18px;
}

@media screen and (max-width:320px){
	.fancypantsaccordionholder ul li > a{
		font-size:25px;
	}
}