/*Estilos Tutorial estrategias de aprendizaje CCH*/

/*Pleca superior bloque 1*/
.topb1 {
	width: 100%;
	height: 95px;
	background: url(../img/toplineb1.png) no-repeat bottom;
	font-family: Oregano, Arial, Helvetica, sans-serif;
	font-size: 1.7rem;
	color: #573B66;
	padding-top: 50px;
	padding-left: 15px;
}
/*Pleca superior bloque 2*/
.topb2 {
	width: 100%;
	height: 95px;
	background: url(../img/toplineb2.png) no-repeat bottom;
	font-family: Oregano, Arial, Helvetica, sans-serif;
	font-size: 1.7rem;
	color: #AB1F54;
	padding-top: 50px;
	padding-left: 15px;
}
/*Pleca superior bloque 3*/
.topb3 {
	width: 100%;
	height: 95px;
	background: url(../img/toplineb3.png) no-repeat bottom;
	font-family: Oregano, Arial, Helvetica, sans-serif;
	font-size: 1.7rem;
	color: #F05422;
	padding-top: 50px;
	padding-left: 15px;
}
/*Pleca superior bloque 4*/
.topb4 {
	width: 100%;
	height: 95px;
	background: url(../img/toplineb4.png) no-repeat bottom;
	font-family: Oregano, Arial, Helvetica, sans-serif;
	font-size: 1.7rem;
	color: #68A342;
	padding-top: 50px;
	padding-left: 15px;
}
/*Texto*/
p {
	font-family: "Istok Web", Verdana, Arial;
	color: #58595B;
	font-size: 13px;
}
/*Por si necesitamos dar espacio entre divs*/
.aire {
	height: 15px;
}
.spacerer {
	clear: both;
	width: 100%;
	line-height: 0;
}
.titulo {
	color: #2D3E66;
	font-family: Oregano, Arial, Helvetica, sans-serif;
	font-size: 2.2rem;
	padding-top: 15px;
	padding-left: 5px;
}
.subtitulo {
	color: #49669E;
	font-family: Oregano, Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
}
/*Numeración de páginas ejemplo: 1 de 3*/
.numeracion {
	width: 955px;
	height: 30px;
	text-align: center;
	font-size: 10px;
	color: #999;
}

.palomito{ margin:0 20px 0 10px; background:url("../img/tic.png") no-repeat top right; float:left; width: 20px; height:20px;}

/*Para resaltar frases o palabras (sin marco)*/

.resb1 {
	color: #573B66;
	font-family: Oregano, Arial, Helvetica, sans-serif;
	font-size: 1.3rem;
}
.resb2 {
	color: #AB1F54;
	font-family: Oregano, Arial, Helvetica, sans-serif;
	font-size: 1.3rem;
}
.resb3 {
	color: #F05422;
	font-family: Oregano, Arial, Helvetica, sans-serif;
	font-size: 1.3rem;
}
.resb4 {
	color: #573B66;
	font-family: Oregano, Arial, Helvetica, sans-serif;
	font-size: 1.3rem;
}
.resb5 {
	color: #69A300;
	font-family: Oregano, Arial, Helvetica, sans-serif;
	font-size: 1.3rem;
}
/*Iconos*/

.videin {
	width: 350px;
	height: 60px;
	background: url(../img/ic_video.png) no-repeat left top;
	font-family: Oregano, Arial, Helvetica, sans-serif;
	padding-top: 15px;
	padding-left: 65px;
	font-size: 24px;
	color: #487C27;
}
.enlace {
	width: 350px;
	/*height: 60px;*/
	background: url(../img/ic_enlace.png) no-repeat left top;
	font-family: Oregano, Arial, Helvetica, sans-serif;
	padding-top: 15px;
	padding-left: 65px;
	font-size: 24px;
	color: #487C27;
}
.ejercicio {
	width: 350px;
	height: 60px;
	background: url(../img/ic_ejercicio.png) no-repeat left top;
	font-family: Oregano, Arial, Helvetica, sans-serif;
	padding-top: 15px;
	padding-left: 65px;
	font-size: 24px;
	color: #487C27;
}
.cuestionario {
	width: 350px;
	height: 60px;
	background: url(../img/ic_cuestionario.png) no-repeat left top;
	font-family: Oregano, Arial, Helvetica, sans-serif;
	padding-top: 15px;
	padding-left: 65px;
	font-size: 24px;
	color: #487C27;
}
.lectura {
	width: 350px;
	height: 60px;
	background: url(../img/ic_lectura.png) no-repeat left top;
	font-family: Oregano, Arial, Helvetica, sans-serif;
	padding-top: 15px;
	padding-left: 65px;
	font-size: 24px;
	color: #487C27;
}
/*Marco para resaltar frases importantes*/
.resalte {
	background: url(../img/res.png);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	padding: 15px;
	font-family: Oregano, Arial, Helvetica, sans-serif;
	color: #573B66;
	font-size: 1.6rem;
	border: 2px solid #328AAA;
}
/*Contenedor de videos*/

.video_cont {
	background: #FFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	padding: 5px;
	border: 1px solid #328AAA;
	text-align:center;
}
/*Contenedor de imagenes */
.imag_cont {
	background: #FFF;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	padding: 5px;
	border: 1px solid #E0DEDC;
}
/*Texto pie de imagen, poner la clase imag_cont dentro de un div con la clase de aqui abajo y usar <p> para el texto del pie de página*/
.imagespie p {
	font-size: 11px !important;
	text-align: center !important;
	line-height: 12px !important;
}
.tittleb1 {
	width: 800px;
	height: 120px;
	background: url(../img/ti_bloque1.png) no-repeat bottom left;
	padding-left: 15px;
}
.tittleb2 {
	width: 800px;
	height: 120px;
	background: url(../img/ti_bloque2.png) no-repeat bottom left;
	padding-left: 15px;
}
.tittleb3 {
	width: 800px;
	height: 120px;
	background: url(../img/ti_bloque3.png) no-repeat bottom left;
	padding-left: 15px;
}
.tittleb4 {
	width: 800px;
	height: 120px;
	background: url(../img/ti_bloque4.png) no-repeat bottom left;
	padding-left: 15px;
}
/*Navegación*/

/*Navegación*/

.naveg {
	width: 100%;
	height: 70px;
	font-family: "Istok Web", Verdana, Arial;
	font-weight: bold;
	color: #68A342;
	font-size: 12px;
}
.ant {
	width: 50%;
	float: left;
	text-align: left;
	background: url(../img/ant.png) no-repeat left;
	padding-left: 25px;
}
.sig {
	width: 50%;
	float: right;
	text-align: right;
	background: url(../img/sig.png) no-repeat right;
	padding-right: 25px;
}
/*Ligas*/

a:link {
	font-family: "Istok Web", Verdana, Arial;
	color: #67A242;
	font-size: 13px;
	color: #3B661F;
	font-weight: bold;
}
a:active {
	font-family: "Istok Web", Verdana, Arial;
	color: #98AE3A;
	font-size: 13px;
	color: #68A342;
	font-weight: bold;
}
a:hover {
	font-family: "Istok Web", Verdana, Arial;
	color: #3C6631;
	font-size: 13px;
	color: #3C6631; 
	font-weight: bold;
}
a:visited {
	font-family: "Istok Web", Verdana, Arial;
	color: #91B03D;
	font-size: 13px;
	color: #91B03D;
	font-weight: bold;
}

/*Ligas*/

/*Para saber mas*/

#sabermas {
	width: 100%;
	height: 202px;
	float: left;
	background: #d9eace;
	margin: 20px auto;
	border-top: 1.5px dashed #67a242;
	border-bottom: 1.5px dashed #67a242;
}
.sabmastit {
	font-family: 'Oregano', Verdana, Arial;
	text-decoration:none;
	color:#397c0e;
	font-size:30px;
	line-height:60px;
	font-weight: normal;
}
#unob {
	float: left;
	width: 25%;
}
#dosb {
	float: left;
	width: 65%;
}

/*Para saber mas*/